---
import moment from 'moment'
import { stats, coins } from '../api/api.js'
import { news } from '../api/apiBingNews.js'
import BaseLayout from '../layouts/BaseLayout.astro'
const title = 'Global Statistics'
const description =
	'Stay informed and up-to-date with the ever-changing world of cryptocurrencies through our comprehensive website! Explore our curated list of the Top 10 Cryptos, providing you with real-time insights into their market performance. Plus, never miss a beat with our Top 10 Fresh News section, sourced directly from major news channels using the power of RapidAPI. Your one-stop destination for crypto listings and the latest news, all conveniently accessible in one place.'
const keywords =
	'Explore our platform for the latest crypto news updates and insightful cryptocurrency market analysis, including a curated list of the top 10 cryptocurrencies.'
const demoImage = 'https://thechainsaw.com/wp-content/uploads/2023/02/gettyimages-1246898196.jpg'
interface Currency {
	name: string
	symbol: string
	id: string
	rank: number
	iconUrl: string
	price: number
	marketCap: number
	change: number
}

interface Thumbnail {
	contentUrl: string
}

interface Image {
	thumbnail: Thumbnail
}

interface Provider {
	image: Image
	name: string
}

interface FreshNews {
	name: string
	url: string
	image?: Image | null
	description: string
	provider: Provider[]
	datePublished: string
}
---

<BaseLayout title={title} description={description} keywords={keywords}>
	<main class="mt-10">
		<article>
			<h1 class="pb-3 font-main text-xl font-semibold capitalize text-white-alt md:text-3xl">
				{title}
			</h1>
			<div class="grid grid-cols-1 gap-4 sm:grid-cols-3 2xl:grid-cols-5">
				<div
					class="flex items-center justify-between rounded-2xl bg-slate-800 p-2 font-sun font-normal capitalize text-lavender-alt md:p-4 md:text-xl"
				>
					Total Cryptos<span class="pr-2 font-sun text-2xl text-aqua md:pr-5"
						>{stats.totalCoins}</span
					>
				</div>
				<div
					class="flex items-center justify-between rounded-2xl bg-slate-800 p-2 font-sun font-normal capitalize text-lavender-alt md:p-4 md:text-xl"
				>
					Total Xchanges <span class="pr-2 font-sun text-2xl text-aqua md:pr-5"
						>{stats.totalExchanges}</span
					>
				</div>
				<div
					class="flex items-center justify-between rounded-2xl bg-slate-800 p-2 font-sun font-normal capitalize text-lavender-alt md:p-4 md:text-xl"
				>
					<span class="pr-5 md:pr-0">Total Market Cap</span><span
						class="pr-2 font-sun text-2xl text-aqua md:pr-5">{stats.totalMarkets}</span
					>
				</div>
				<div
					class="flex items-center justify-between rounded-2xl bg-slate-800 p-2 font-sun font-normal capitalize text-lavender-alt md:p-4 md:text-xl"
				>
					<span class="pr-5 md:pr-0">Total 24h Volume</span>
					<span class="pr-2 font-sun text-2xl text-aqua md:pr-5">{stats.total24hVolume}</span>
				</div>
				<div
					class="flex items-center justify-between rounded-2xl bg-slate-800 p-2 font-sun font-normal capitalize text-lavender-alt md:p-4 md:text-xl"
				>
					Total Markets <span class="pr-2 font-sun text-2xl text-aqua md:pr-5 md:text-3xl"
						>{stats.totalMarketCap}</span
					>
				</div>
			</div>
		</article>
		<article class="mt-10">
			<div class="flex items-baseline justify-between">
				<h1
					class="hidden pb-3 font-main text-xl font-semibold capitalize text-white-alt md:inline-flex md:gap-7 md:text-3xl"
				>
					top 10 cryptos
				</h1>
				<h1
					class="pb-3 font-main text-2xl text-xl font-semibold capitalize text-white-alt md:hidden"
				>
					top 10
				</h1>

				<a
					href="/crypto"
					class="pr-3 font-sun font-light duration-200 md:pr-10 md:hover:font-bold md:hover:text-lavender"
					>show more</a
				>
			</div>
			<div class="grid grid-cols-1 gap-4 md:grid-cols-3">
				{
					coins.slice(0, 10).map((currency: Currency) => (
						<article
							class="rounded-lg bg-base-300 p-4 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]"
							id={currency.id}
						>
							<div class="flex items-center justify-between">
								<h2 class="font-main text-2xl font-semibold capitalize text-pink-400">
									{currency.rank}. {currency.name}
								</h2>
								<img
									src={currency.iconUrl}
									alt={`${currency.name} Icon`}
									class="h-[2rem] w-[2rem]"
								/>
							</div>

							<div>
								<p class="text-normal font-main uppercase text-gray-500 md:text-lg">
									{currency.symbol}
								</p>
								<p class="stat-value font-sun text-lavender-alt md:py-2">
									Price: <span class="text-aqua">${currency.price} </span>{' '}
								</p>
								<p class="whitespace-nowrap font-sun font-thin text-gray-400 md:text-lg">
									Market Cap: <span class="text-gray-300">{currency.marketCap} </span>
								</p>
								<p class="whitespace-nowrap font-sun font-thin text-gray-400 md:text-lg">
									Daily Change: <span class="text-gray-300">{currency.change}%</span>
								</p>
							</div>
						</article>
					))
				}
			</div>
		</article>
		<article class="mt-10">
			<div class="flex items-baseline justify-between">
				<h1 class="pb-3 font-main text-xl font-semibold capitalize text-white-alt md:text-3xl">
					Fresh News
				</h1>
				<a
					href="/news"
					class="pr-3 font-sun font-light duration-200 md:pr-10 md:hover:font-bold md:hover:text-lavender"
					>show more</a
				>
			</div>
			<div class="grid grid-cols-1 gap-4 md:grid-cols-3 2xl:grid-cols-4">
				{
					news.slice(0, 10).map((freshNews: FreshNews) => (
						<article
							class="rounded-lg bg-base-300 p-4 shadow-[0_3px_10px_rgb(0,0,0,0.2)]  duration-500 md:hover:scale-105"
							id={freshNews.name}
						>
							<a href={freshNews.url} target="_blank" rel="noreferrer" class="flex flex-col">
								<div class="flex items-center justify-between gap-2">
									<h2 class="line-clamp-3 font-main text-xl font-semibold text-aqua">
										{freshNews.name}
									</h2>
									<img
										src={freshNews?.image?.thumbnail?.contentUrl || demoImage}
										alt={freshNews.name}
										class="h-20 w-20 rounded-md"
									/>
								</div>
								<p class="mt-2 line-clamp-3 text-lg font-light text-white-alt">
									{freshNews.description}
								</p>
								<div class="mt-2 flex items-center justify-between rounded-md p-2">
									<div>
										<img
											src={freshNews.provider[0]?.image?.thumbnail?.contentUrl || demoImage}
											class="h-12 w-12 rounded-full"
										/>
									</div>
									<p class="font-sun">{freshNews.provider[0]?.name}</p>
								</div>
								<p class="text-right font-tek font-thin text-laser-lemon">
									{moment(freshNews.datePublished).fromNow()}
								</p>
							</a>
						</article>
					))
				}
			</div>
		</article>
	</main>
</BaseLayout>;

